// app global css in SCSS form
body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background: #020617;
}

.container {
  height: 100%;
  background-color: #36363b;
  margin-bottom: 70px;
}

.title {
  color: #c5c5c5;
  text-transform: uppercase;
}

#player {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: #2a2a2e;
  z-index: 9999;
  transition: all 350ms linear;
}

#player.inactive {
  bottom: -30%;
}

#player.active {
  bottom: -0px;
}

.custom-dark-bg {
  background-color: rgba(0, 0, 0, 0.25);
}

.custom-dark-div {
  margin: 0.5rem 0.5rem;
  padding: 0.7rem 0.5rem;
  background-color: rgba(54, 54, 59, 0.9);
  border-radius: 3px;
}

.margin-auto {
  margin: auto;
}

.default-msg {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
}

.sh-btn {
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: white !important;
  border-radius: 3px;
}

.search-result {
  display: flex;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  height: 4rem;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  position: relative;
}

.search-result__image {
  width: 3rem;
  aspect-ratio: 1;
  margin-right: 1rem;
}

.search-result__user {
  justify-items: center;
  align-items: center;
}

.search-result__duration {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: rgba(39, 36, 36);
  opacity: 0.7;
  color: white;
}

.d-flex {
  display: flex;
}


.pli-delete {
  width: 1.5rem;
  height: 1.8rem;
  background-color: $pink;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.justy-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.play-btn {
  margin: auto;
  max-width: 80px;
  height: 35px;
  background: $pink;
  color: white;
}
